@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: #F0F0F0;
}

#sidenav a.active {
    @apply bg-orange-600 text-white;
}

#sidenav a:hover {
    @apply bg-orange-600 text-white;
}

.responsive-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

@media (width <= 640px) {
    .responsive-grid{
        grid-template-columns: repeat(1, minmax(80vw, 1fr));
    }
}

.file-select {
    position: relative;
    display: inline-block;
}

/* #5678EF */
.file-select::before {
    @apply bg-orange-600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    content: 'Seleccionar imagen'; /* testo por defecto */
    height: 35px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 35px;
    display: inline-block;
}


.animate-in-login {
    animation: login-in ease-in-out 0.7s;
}

.animate-out-login {
    animation: login-out ease-in-out 0.7s ;
    animation-fill-mode: forwards;
    
}

.animate-in-register {
    animation: register-in ease-in-out 0.7s;
}

.animate-out-register {
    animation: register-out ease-in-out 0.7s;
    animation-fill-mode: forwards;
    
}

@media (width <= 640px){

    .animate-second-background-reverse {
        animation: invert-second-background ease-in-out 1s;
        animation-fill-mode: forwards;
    }
    
    .animate-second-background-normal {
        animation: normal-second-background ease-in-out 1s;
        animation-fill-mode: forwards;
    }

    @keyframes invert-second-background {
        0% {
            bottom: 0;
            height: 40vh;
            width: 100vw;
        }
        50% {
            height: 100vh;
            width: 100vw;
        }
        100% {
            top: 0;
            height: 60vh;
            width: 100vw;
        }
    }
    
    @keyframes normal-second-background {
        0% {
            top: 0;
            height: 60vh;
            width: 100vw;
        }
        50% {
            height: 100vh;
            width: 100vw;
        }
        100% {
            bottom: 0;
            height: 40vh;
            width: 100vw;
        }
    }

}


@keyframes login-in {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

@keyframes login-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes register-in {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

@keyframes register-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}


@screen sm {
    .animate-in-login {
        animation: login-in ease-in-out 0.7s;
    }
    
    .animate-out-login {
        animation: login-out ease-in-out 0.7s ;
        animation-fill-mode: forwards;
    }
    
    .animate-in-register {
        animation: register-in ease-in-out 0.7s;
    }
    
    .animate-out-register {
        animation: register-out ease-in-out 0.7s;
        animation-fill-mode: forwards;
    }

    @keyframes login-in {
        0%{
            transform: translateX(35vw);
            opacity: 0;
    
        }
        50% {
            opacity: 0.5;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
    
    @keyframes login-out {
        0%{
            transform: translateX(0px);
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100%{
            transform: translateX(35vw);
            opacity: 0;
            display: none;
        }
    }
    
    @keyframes register-in {
        0%{
            transform: translateX(-35vw);
            opacity: 0;
    
        }
        50% {
            opacity: 0.5;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
    
    @keyframes register-out {
        0%{
            transform: translateX(0px);
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100%{
            transform: translateX(-35vw);
            opacity: 0;
            display: none;
    
        }
    }
}